<div id="about">
	  <h2>Band Members</h2>
		<div id="ei_menu" class="ei_menu">
					<ul>
						<li>
							<a href="#" class="pos1">
								<span class="ei_preview"></span>
								<span class="ei_image"></span>
							</a>
							<div class="ei_descr">
								<h2>Greg</h2>
								<h3>Vocals / Percussion</h3>
								<p>
								A founding member of R.M. Greg is the heart, soul and manager of the band.
								</p>
								<p>
								Fav Mahog Song: "Miami 2017" or "Never Been To Spain" 
								</p>
							</div>
						</li>
						<li>
							<a href="#" class="pos2">
								<span class="ei_preview"></span>
								<span class="ei_image"></span>
							</a>
							<div class="ei_descr">
								<h2>Michael</h2>
								<h3>Drums / Vocals</h3>
								<p>
								"The Man Behind the Band"! Another founding member, Mike and his rhythms are the key ingredient to "Mahoganizing" our song selections.
								</p>
								<p>
								Fav Mahogany Song:
								</p>
							</div>

						</li>
						<li>
							<a href="#" class="pos3">
								<span class="ei_preview"></span>
								<span class="ei_image"></span>
							</a>
							<div class="ei_descr">
								<h2>George</h2>
								<h3>Bass / Vocals</h3>
								<p>
								A veteran of the Long Island music scene of over 20 years. George let his roots in punk and pop music add some edge and melody to the Mahogany bottom end.
								</p>
								<p>
								Fav Mahogany Song: "Come and Get Your Love"
								</p>
							</div>
						</li>
						<li>
							<a href="#" class="pos4">
								<span class="ei_preview"></span>
								<span class="ei_image"></span>
							</a>
							<div class="ei_descr">
								<h2>Rich</h2>
								<h3>Keyboards / Vocals</h3>
								<p>
								"The Professor" is both classicaly trained and a live music professional of many years. Rich's smiles and energy are as infectious as his keyboard solos.
								</p>
								<p>
								Fav Mahogany Song: "Miami 2017"
								</p>
							</div>
						</li>
						<li>
							<a href="#" class="pos5">
								<span class="ei_preview"></span>
								<span class="ei_image"></span>
							</a>
							<div class="ei_descr">
								<h2>Tim</h2>
								<h3>Guitar / Vocals</h3>
								<p>
								A legend in his own time as a member of the Blue Scoobies. Tim now lends his talents and amazing guitar skills to Rich Mahogany. 
								</p>
								<p>
								Fav Mahogany Song: "Whiskey Rock N Roller"
								</p>
							</div>
						</li>
						<li>
							<a href="#" class="pos6">
								<span class="ei_preview"></span>
								<span class="ei_image"></span>
							</a>
							<div class="ei_descr">
								<h2>Bryce</h2>
								<h3>Vocals / Guitar</h3>
								<p>
								Another veteran of some amazing Long Island bands as well as his solo career (including American Idol). Bryce adds his musical talents to the Mahog sound and his knowledge of popular music to the Mahog song selection.
								</p>
								<p>
								Fav Mahog Song: 
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>

</div>