<div id="home">
<h2 id=home_title>Rich Mahogany</h2>
	  <p id=about_us>Rich Mahogany has been making music on New York's Long Island for over a decade now. What started as a fun project for a private party has turned into a brand noted for it's energy, talent and eclectic set lists.</p>
	  <br>

	  <p id=about_us>From bars and clubs to large events, Rich Mahogany will always bring a good time whether they are booked at a wedding or corporate event or crusing down Main Street for the St.Patrick's Day parade.</p>

	  


	<hr>
	   <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Rich Mahogany 2016</p>
                </div>
            </div>
        </footer>
</div>