<div id="schedule">

   <h2>Upcoming Events</h2> 
   <table class="schedule_table">

<!--    <h2 id=sched>Upcoming Events</h2> 
   <table> -->
      <tr>
        <th class="table_head">Date</th>
        <th class="table_head">Event</th>
      </tr>
      <tr>
        <td>October 22nd</td>
        <td>Bay Shore Street Fair</td>
      </tr>
      <tr>
        <td>Upcoming Date</td>
        <td>Upcoming Event Info</td>
      </tr>
      <tr>
        <td>Upcoming Date</td>
        <td>Upcoming Event Info</td>
      </tr>
      <tr>
        <td>Upcoming Date</td>
        <td>Upcoming Event Info</td>
      </tr>
        </table>
  </div>