/* LAYOUT STYLE */

body {
	font-family: 'Raleway', sans-serif;
}

h1, h2 {
	margin: 91px auto 40px auto;
	font-family: 'Rock Salt', cursive;
	text-align: center;
	color: white;
}

h2 {
	display: block;
}

/* BACKGROUND STYLE */

.image-header {
	background: url("../img/bg.jpg") no-repeat center center fixed;
	background-size: cover;
	min-height: 100vh;
	overflow: hidden;
}

/* NAV STYLE */

#nav-title {
	font-family: 'Rock Salt', cursive;
	color: #FDDD38;
	margin-left: 0px; 
}

/* NEWS STYLE */

tr {
	background: rgba(16,16,16,0.8);
	color: #fff;
	margin-bottom: 10px;
	opacity: 0.75;
}

td {
	padding: 10px;
	display: block;
}

.table_wrapper {
	margin: 0 auto 20px auto;
	width: 75%;
	border: 7px solid #FDDD38;
	border-radius: 5px;
  	overflow: hidden;
}

.fb_story {
	font-style: italic;
	font-weight: 800;
	font-size: 19px;
}

.fb_story a {
	color: #fff;
}

.fb_msg {
	font-weight: 100;
	font-size: 15px;
}

.fb_time {
	float: right;
}

/* CONTACT STYLE */

form {
	margin: 50px auto 0 auto;
}

input, textarea {
	margin-bottom: 10px;
}

.cf-col {
	margin: auto;
	float: none;
}

.form-control {
	background: rgba(255,255,255,0.9);
}

.btn {
	float: right;
	background: rgba(255,255,255,0.9);
}

.console {
	display: block;
	text-align: center;
	color: white;
}
